*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

.logo img{
    height: 70px;
    width: 200px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.nav-item:hover .dropdown-menu {
    display: block;
  }

.nav-account-link{
    display: block;
    background-color:white; 
    border: 2px solid #509046;
    color: #509046 !important; 
    transition: 0.3s ease; 
    text-decoration: none;
}
.nav-account-link:hover{
    color: black !important;
    background-color: #509046;
    text-decoration: none;
}

.dropdown-menu a+a{
    background-color: white;
    color: black;
    border: 1px solid #509046;
}

.dropdown-menu{
    background-color: white;
    border: 1px solid #509046;
    /* color: #006d2c; */
}

.dropdown-menu .dropdown-item{
    color: #509046;
    font-size: medium;
    font-weight: bold;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
}

.dropdown-menu li:hover {
    background-color: #f4fcda;
}

.dropdown-menu li:hover .dropdown-item{
    background-color: inherit;
}

/* not working */
.dropdown-divider{
    height: 0;
    margin: var(--bs-dropdown-divider-margin-y);
    overflow: hidden;
    border-top: 1px solid var(--bs-dropdown-divider-bg) !important;
    opacity: 1;
}
/* not working */

.nav-item a{
    font-weight:bold;
    font-size:medium;
    color: black;
    transition: 0.3s ease;
    font-family: "Poppins", sans-serif;
}

.nav-item a:hover {
    box-shadow:0 3px 0 0 black;
    color: #509046;
}
.nav-item a.active {
    box-shadow: 0 3px 0 0 black;
}

.nav-products-link{
    display: block;
    background-color:white; 
    /* border: 2px solid #509046; */
    color: #509046; 
    transition: 0.3s ease; 
    text-decoration: none;
}

@media(min-width:992px){
    .navbar-expand-lg .nabar-nav{
        flex-direction: row;
    }
}

.cart{
    height: 55px;
    width: 55px;
    background-color: transparent;
    border: none;
    transition: 0.3s ease;
}

.cart:hover{
    background-color: #f4fcda;
    
}

/* navbar ended */



/* products section */
/* .anybtn{
    display: block;
    width: 140px;
    margin-left: 46px;
    margin-bottom: 2px;
    margin-top: 16px;
    padding: 5px 10px;
    text-align: center;
    background-color: #6b4f4f;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.anybtn:hover {
    background-color: #ac7a7a;
}

.anybtn:active {
    transform: scale(0.98);
} */

.card{
    background-color: #f4fcda;
    border: 1px solid #006d2c;
    transition: 0.5s;
    margin-bottom: 20px;
    padding: 10px;
    /* display: flex;
    justify-content: center; */
    /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5) */
}

.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 30px 50px rgba(80, 144, 70, 0.3);
}

/* .maincard:hover{
    transform: translateY(-10px);
    box-shadow: 0 30px 50px rgba(107, 79, 79);
} */

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5rem;
}

/* for every page page */
.productmore-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.productmore-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 2rem; */
    /* margin-top: 10px; */
}

.more-button1{
    display: block;
    width: 140px;
    /* margin-left: 46px;
    margin-bottom: 2px;
    margin-top: 16px; */
    padding: 5px 10px;
    text-align: center;
    background-color: white;
    color: #006d2c;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 20px;
    border: 2px solid transparent; /* Add a transparent border */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition for border color */
    /* transition: background-color 0.3s ease; */
}

.more-button1:hover {
    border: 2px solid #006d2c;
}

.more-button1:active {
    transform: scale(0.98);
}

.more-button2{
    display: block;
    width: 140px;
    /* margin-left: 46px;
    margin-bottom: 2px;
    margin-top: 16px; */
    padding: 5px 10px;
    text-align: center;
    background-color: #f4fcda;
    color: #006d2c;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 20px;
    border: 2px solid #006d2c;
    transition: background-color 0.3s ease;
}

.more-button2:hover {
    background-color: white;
}

.more-button2:active {
    transform: scale(0.98);
}

.topcards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.bottomcards{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

/* for footer section */
footer {
    background-color: #f4fcda;
    padding-top: 30px;
}

.footercontainer {
    width: 100%;
}

.footernav {
    text-align: center;
}

.footernav .footernavlist a {
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.5s ease;
}

.footernav .footernavlist a:hover {
    opacity: 1;
    color: #538353;
}

.footerbottom {
    padding-top: 40px !important;
    padding: 20px;
    text-align: center;
}

.footerbottom p {
    color: black;
    font-weight: bold;
}

.Designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0px 5px;
}